{% extends 'base.html' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
{% block content %}
{{block.super}}
    {% include "navbar.html" %}
    <div class="row">
        <div class="col"></div>
        <div class="col-md-8" style="background: #b1e8fb77; "> 
            <div class="container" style="margin-top: 30px; text-align: center;">
                <img src="{{ profile.photo_url|default_if_none:'https://icon-library.net/images/patient-icon/patient-icon-25.jpg' }}" alt="profile picture" style=" width:225px; height: 225px; border-radius:50%;">                                
                <a href="#"><button style="display: inline-block;" class="btn btn-primary">Update Profile</button></a>
                <h3>{{current_user.username}}</h3>
            </div>
            <div class="container" style="margin-left: 12%; margin-top: 30px;">
                <h6 style="display: inline-block; padding-right: 15%;">Name: <span style="font-size: 20px;">{{profile.name}}</span></h6>
                <h6 style="display: inline-block;">Email: <span style="font-size: 20px;">{{profile.user.email}}</span></h6>
            </div>            
            <h6 style="display: inline-block;margin-left: 15%; padding-right:15%;">Phone no.: <span style="font-size: 20px;">{{profile.phone}}</span></h6>            
            <h6 style="display: inline-block;">Hospital: <span style="font-size: 20px;">{{profile.hospital}}</span></h6>            
            <div class="row" style="margin-top: 30px;">
              <div class="col">                  
                <div id='map' style='width: 400px; height: 300px;'></div>
                <script>
                mapboxgl.accessToken = 'pk.eyJ1IjoibXVpYTIzIiwiYSI6ImNrZWp3dmw3bTA3M3cyeG53Zjl1MDU1MG0ifQ.TwlO7AlZn0eMUnpPEneUEg';
                var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
                    center: [-74.5, 40], // starting position [lng, lat]
                    zoom: 9 // starting zoom
                });
                </script>
              </div>
              <div class="col">
                  <div class="container" style="background:white;">                                        
                      <table class="table table-hover">                                                   
                        <tbody>
                          <tr>                                
                            <td colspan="3" style="font-weight: bold;">Reports done</td>                                                                                                                
                            <td>{{patient_report.count}}</td>                                                        
                          </tr>                          
                        </tbody>                                                                        
                      </table>
                  </div>
              </div>                                        
            </div>             
        </div>
        <div class="col"></div>
    </div>
    
    
{% endblock %}