{% extends 'base.html' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load static %}
{% load bootstrap4 %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block content %}
{{block.super}}

    <div class="container-fluid">
        <div class="news-ticker">
            <div class="marquee-title">
                <strong>NEWS: </strong>
            </div>
            <div class="news-marquee">
                <marquee behavior="" direction="">
                    {% for new in news %}
                        <span>{{new}}&nbsp;||&nbsp;</span>
                    {% endfor %}
                </marquee>
            </div>
        </div>
    </div> 
    <div class="container-fluid data-data">
        <div class="data-area">
            <div class="cov-map">
                <div class="map">
                    <h3> Realtime stats on Coronavirus cases world wide.</h3>
                    <iframe src="https://ourworldindata.org/grapher/total-cases-covid-19?tab=map" width="100%" height="600px"></iframe>
                </div>
            </div>
            <div class="cov-data">
                <table id="tablePreview" class="table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Country</th>
                            <th>Total Cases</th>
                            <th>Total Active Cases</th>
                            <th>Total Recovered</th>
                            <th>New Cases Today</th>
                            <th>New Deaths Today</th>
                        </tr>
                    </thead>
                    <tbody">
                        {% for key, value in cov_data.items %}
                            <tr>
                                <td>{{value.ourid}}</td>
                                <td>{{value.title}}</td>
                                <td>{{value.total_cases}}</td>
                                <td>{{value.total_active_cases}}</td>
                                <td>{{value.total_recovered}}</td>
                                <td class="data_today">{{value.total_new_cases_today}}</td>
                                <td class="data_today">{{value.total_new_deaths_today}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}