{% extends 'registration/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        {% if validlink %}
            <h3 class="text-center">Change password</h3>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Change password</button>
            </form>
        {% else %}
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-3">Reset Link Invalid</h1>
                    <p class="lead">The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.</p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}