{% extends 'registration/base.html' %}

{% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Reset Successful</h1>
            <hr class="my-2">
            <p>Your password has been set. You can now sign in.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#!" role="button">Sign In</a>
            </p>
        </div>
    </div>
{% endblock %}